@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
    margin: 0;
    padding: 0;
    --transparent-color: rgba(1, 1, 1, 0.1);
    --faded-text-color: rgba(1, 1, 1, 0.5);
    --bg-cold: #a5f3fc;
    --bg-warm: #fef08a;
    --night: ;

    font-family: "Roboto", sans-serif;
    font-size: 18px;
}

body {
    background-color: var(--bg-warm);

    margin: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#wrapper {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    max-width: 1000px;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;

    width: 100%;
}

button {
    background: none;
    border: none;
    transition: 0.2s;
    font-size: 2em;
}

button#units {
    font-size: 1.1em;
    background-color: var(--transparent-color);
    width: 30px;
    height: 30px;
    border-radius: 100px;
}

button:hover {
    cursor: pointer;
    transition: 1;
    transform: scale(1.2);
}

#search-input {
    width: 250px;
    border-radius: 100px;
    border: none;
    background-color: var(--transparent-color);
    height: 30px;
    padding: 0 10px;

    text-align: center;
}

#search-input:focus {
    outline: none;
}

#city {
    text-align: center;
    font-size: 2.2em;
    font-weight: bold;
}

#date {
    font-weight: normal;
    font-size: 0.8em;
    color: var(--faded-text-color);
    text-align: center;
}

main {
    display: grid;
    width: 100%;
}

#weather-temp {
    font-size: 4em;
    font-weight: bold;
}

hr {
    margin: 20px 0px;
    color: var(--transparent-color);
}

#weather-desc {
    font-weight: bold;
    padding-bottom: 10px;
}

#weather-feel {
    color: var(--faded-text-color);
    font-size: 0.8em;
    padding-bottom: 10px;
}

#weather-today-flex {
    display: flex;
    justify-content: center;
}

#gif {
    width: 80%;
    max-width: 300px;
    border-radius: 10px;
}

#weather-future-section {
    display: flex;
    justify-content: space-around;

    padding-bottom: 10px;
}

.weather-future > p {
    font-size: 0.8em;
}

footer {
    background-color: var(--transparent-color);
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    width: 100%;
    bottom: 0px;
}
